@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {


    body {
        @apply text-white bg-blue-950
    }

    .heading-hg {
        @apply text-6xl font-black;
    }

    .heading-xl {
        @apply text-5xl font-extrabold text-white;
    }

    .heading-lg {
        @apply text-3xl font-bold text-gray-100;
    }

    .heading-md {
        @apply text-xl font-bold text-gray-100;
    }

    .heading-sm {
        @apply text-base font-bold text-gray-100;
    }

    .heading-xs {
        @apply text-sm font-bold text-gray-100;
    }

    .para-lg {
        @apply text-xl font-normal text-gray-200;
    }

    .para-md {
        @apply text-base font-normal text-gray-100;
    }

    .para-sm {
        @apply text-sm font-normal text-gray-200;
    }

    .para-xs {
        @apply text-xs font-normal text-gray-200;
    }

    .con {
        @apply px-4 md:px-6 lg:px-8
    }

    .tag-line {
        @apply text-center text-lg font-medium mt-6 max-w-3xl
    }

    .nav-link {
        @apply text-lg font-medium
    }


}

/* Layer Directive End... */
/* Layer Directive End... */


.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    /* Change this to your desired underline color */
    transition: width 0.3s ease-in-out;
    /* Adjust transition duration as needed */
}

.nav-link:hover::after {
    width: 100%;
}